.projects__section {
  align-items: flex-start;
  display: flex;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  padding: 64px 24px;
}

.h1__card {
  padding: 5rem 0rem 3rem 0rem;
  font-size: 400%;
  justify-content: center;
  display: flex;
  font-family: sans-serif;
  color: white;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  max-width: 1200px;
  width: 100%;
}

.card {
  list-style: none;
  position: relative;
  cursor: pointer;
}

.card:before {
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;

}

.card__background {
  background-size:cover;
  background-position: center;
  border-radius: 24px;
  bottom: 0;
  /* filter: brightness(0.75) saturate(1.2) contrast(0.85); */
  left: 0;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition:
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
}

.card-info {
  background-color: #212121;
  height: 7.5rem;
  font-size: 2.7rem;
  gap: 5rem;
  width: 100%;
  color: white;
  border-bottom-left-radius: 1.9rem;
  border-bottom-right-radius: 1.9rem;
  display: flex;
  bottom: 0;
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card__content {
  left: 0;
  padding: 24px;
  position: absolute;
  display: flex;
  justify-content: center;
  color: white;
  top: 0;
}

.card__category {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.card__heading {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}


/* Media querries */

@media(min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}


.modal {
  font-family: arial;
}

.modal {
  position: fixed;
  z-index: 1040;
  width: 50rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  outline: none;
}

.backdrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.95;
}

.modal-title {
  font-weight: 500;
  font-size: 2rem;
}

.modal-header {

}

.modal-desc,
.modal-header,
.modal-footer {
  padding: 12px;
}

.close-button {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  border: none;
  background-color: white;
  opacity: 0.7;
  cursor: pointer;
}
button {
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.secondary-button {
  color: #fff;
  background-color: #6c757d;
}
.primary-button {
  color: #fff;
  background-color: #007bff;
}

.modal-example {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}